* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #f02d3a;
    width: 100%;
}

h1{
    color: #fffbeb;
    font-family: "Maiden Orange", sans-serif;
    justify-content: center;
    display: flex;
}

h2{
    color: black;
    font-family: "Maiden Orange", sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fffbeb;
    text-decoration: none;
}

nav ul {
    list-style: none;
    gap: 15px;
    align-items: flex-end;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
}

main {
    background: #fffbeb;
    width: 100%;
}

.mini-container {
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
}

footer {
    background-color: #f02d3a;
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Maiden Orange", sans-serif;
    color: #fffbeb;
    position: relative;
}

.st_patrick {
    width: 500px;
    height: 300px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}