* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #f02d3a;
    width: 100%;
}

h1{
    color: #fffbeb;
    font-family: "Maiden Orange", sans-serif;
    text-align: center;
    font-size: 50px;
}

h2{
    color: #022050;
    font-family: "Maiden Orange", sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 5px;
    font-size: 25px;
}

h3{
    color: #022050;
    font-family: "Spline Sans Mono", sans-serif;
    font-size: 16px;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    align-items: flex-end;
    padding: 10px;
}

.navbar a {
    color: #fffbeb;
    text-decoration: none;
    font-family: "Maiden Orange", sans-serif;
    font-size: 21px;
}

.navbar a:hover, .navbar a:focus {
    text-decoration: underline;
    text-decoration-color: #fffbeb;
}

main {
    background: #fffbeb;
    width: 100%;
}

.logo {
    height: 130px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rectangle {
    background-color: #022050;
    width: 50%;
    padding: 12px;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.slogan {
    color: #fffbeb;
    font-family: "Spline Sans Mono", sans-serif;
    text-align: center;
    font-size: 18px;
}

#hours {
    text-decoration: underline;
    font-size: 30px;
    padding: 10px;
    padding-bottom: 5px;
}

#daysandtimes {
    font-family: "Spline Sans Mono", sans-serif;
    color: #022050;
    margin: 10px;
    line-height: 40px;
}

.about{
    display: flex;
    align-items: center;
    background-color: #f02d3a;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
}

.about h2 {
    color: #fffbeb;
    font-size: 30px;
}

.owner {
    padding: 10px;
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.about_text {
    color: #fffbeb;
    font-family: "Spline Sans Mono", sans-serif;
    padding: 10px;
}

.reviews {
    display: flex;
    flex-direction: column;
    background: #022050;
    margin: 10px;
    border-radius: 8px;
}

.reviews h2 {
    color: #fffbeb;
    font-size: 30px;
}

.review-items {
    display: flex;
    padding: 15px;
    gap: 15px;
}

.review-items p {
    color: #fffbeb;
    font-family: "Spline Sans Mono", sans-serif;
    font-size: 15px;
}

.review-items img {
    border-radius: 8px;
}

.reviews_link {
    text-decoration: none;
    color: #fffbeb;
    font-family: "Maiden Orange", sans-serif;
    font-size: 25px;
    background: #f02d3a;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.reviews a:hover, a:focus {
    background-color: #fffbeb;
    color: #f02d3a;
    /* maybe i'll add a transition for this bc lowkey it looks weird!!!!! (I added a pulse to it, but take it out if you hate it LOLL)*/
}

.reviews_link:hover {
    animation: 1s pulse 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #fffbeb;
    padding: 15px;
    gap: 15px;
}

.grid_heading {
    font-family: "Maiden Orange", sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

.contact {
    font-family: "Spline Sans Mono", sans-serif;
    color: #022050;
}

.social_heading {
    font-family: "Spline Sans Mono", sans-serif;
    color: #022050;
    font-size: 18px;
    text-decoration: none;
}

.social_heading:hover, .social_heading:focus{
    text-decoration: underline;
    color: #f02d3a
}

.social_images {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social_img2 {
    width: 200px;
    height: auto;
    border-radius: 5px;
    /* separate CSS class from social_images class to not change the size of the div, but directly change size of pictures */
}

.social_img2:hover, .social_img2:focus {
    animation: grow 1s linear 
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

footer {
    background-color: #f02d3a;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: "Maiden Orange", sans-serif;
    color: #fffbeb;
}

/* CSS for Events */

.event-container {
    display: flex;
    flex-direction: column;
    background: #fffbeb;
}

.mini-container {
    background-color: #fcf9f0;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2);
    overflow: hidden;
}

.side {
    display: flex;
}

.bingo {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.music {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.side2 {
    display: flex;
    flex-direction: row-reverse;
}

.fireworks {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.st_patrick {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.stein-holding {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.toys {
    width: 300px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    margin: 7px;
}

.text-box {
    color: #022050;
    font-family: "Spline Sans Mono", sans-serif;
    padding: 10px;
}

/* CSS for Menu */

.container2 {
    margin: 13px;
    line-height: 25px;
}

.container2 p {
    font-family: "Spline Sans Mono", sans-serif;
    color: #022050
}

.container2 h2 {
    text-decoration: underline;
}

.sauce-container {
    background-color: #f02d3a;
    padding: 8px;
    margin: 10px;
    border-radius: 12px;
}

.sauce-container h3 {
    color: #fffbeb;
    font-family: "Spline Sans Mono", sans-serif;
    padding: 3px;
}

.sauce-container p {
    color: #fffbeb;
}

.decorations {
    width: 400px;
    height: auto;
}

.menu-divider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bolded-text b {
    color: #022050;
}

.merch {
    background: #022050;
    border-radius: 8px;
    margin: 13px;
    padding: 10px;
}

.merch h2 {
    color: #fffbeb;
    padding-top: 8px;
    text-decoration: underline;
}

.merch p {
    font-family: "Spline Sans Mono", sans-serif;
    color: #fffbeb;
    line-height: 25px;
}

#sides {
    text-align: center;
}

/* Media Query */

@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;
    }

    .navbar a {
        font-size: 23px;
    }

    .event-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
        grid-gap: 20px;
        padding: 10px;
        /* places events in a 3x2 grid in order to have them side by side and not stacked */
    }

    .mini-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mini-container h2 {
        text-align: center;
    }

    .side, .side2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .side img, .side2 img {
        width: 90%;
    }

    .desktop {
        display: flex;
        flex-direction: row;
    }

    .about, .reviews{
        flex: 1;
        max-width: 48%;
    }

}