* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #f02d3a;
    width: 100%;
}

h1{
    color: #fffbeb;
    font-family: "Maiden Orange", sans-serif;
    justify-content: center;
    display: flex;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fffbeb;
    text-decoration: none;
}

nav ul {
    list-style: none;
    gap: 15px;
    align-items: flex-end;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
}

main {
    background: #fffbeb;
    width: 100%;
    height: 100vh;
} 

footer {
    background-color: #f02d3a;
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Maiden Orange", sans-serif;
    color: #fffbeb;
}